.landing-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 300%;
    font-style: normal;
    font-weight: normal;
    margin: auto 20px;
}

.tag-line {
    font-style: normal;
    font-weight: normal;
    display: inline;
}

@media (max-width: 414px) {
    .tag-line {
        max-width: 300px;
    }
}