.blogs-page{
    margin-top: 70px;
}

.blogs-header{
    font-size: 250%;
    font-weight: normal;
    margin: 10px;
}


.blog-post-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}